[MASTER]
init-hook="import sys; sys.path.append('/home/jener05458/SWStarlab/FALCON2/src')"
# init-hook="import sys; sys.path.append('Your_path/FALCON2/src')"

[REPORTS]
disable = E1101, R0902, R0913, R0914, R0903, E0602, R1732