[MASTER]
init-hook="from pylint.config import find_pylintrc;import os, sys; sys.path.append(os.path.dirname(find_pylintrc())); sys.path.append("/home/jkjang/paper/falcon/starlab/cnn-compression/FALCON2/src")"
